@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DMSans';
  src: url('./assets/DMSans-Regular.ttf');
  font-style: normal;
  font-weight: 200;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: DMSans, sans-serif;
}
#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}
#logo {
  gap: 5px;
}
#search-input {
  background-color: #0e2d44;
}
#unit-conversion,
#search-city {
  display: flex;
  gap: 10px;
}
.btn {
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #0e2d44;
}
.btn:hover {
  background-color: #2889c9;
}
#current-data {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
#temp {
  gap: 15px;
}
#weekly-forecast {
  width: 70%;
}
.day-info {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  text-align: center;
}
.day-info:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.46);
}
#current-weather-info {
  display: flex;
  gap: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.forecast-cell {
  min-width: 120px;
}
.header {
  padding-bottom: 20px;
  font-weight: bolder;
}
.github-link {
  cursor: pointer;
}
.github-link:hover {
  color: #0e2d44;
}

@media only screen and (max-width: 650px) {
  #header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  #current-data {
    width: 70%;
    justify-content: center;
    text-align: center;
  }
  #current-weather-info {
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  #days-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1rem;
  }
  .forecast-cell {
    min-width: 80px;
  }
}
